.logo-wrapper {
    font-size: 0;
    text-decoration: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
}
.logo {
    display: inline-block;
    text-decoration: none;
    margin: 0;
    text-align: center;
    background-color: #4d4d4d;
    color: white;
    padding: 0.25em 0.5em;
    cursor: pointer;
    font-weight: normal;
    -webkit-transition: background-color 0.375s;
    -moz-transition: background-color 0.375s;
    -ms-transition: background-color 0.375s;
    -o-transition: background-color 0.375s;
    transition: background-color 0.375s;
    text-rendering: geometricPrecision;
}
.logo:hover,
.logo:active,
.logo:focus {
    background-color: #4cae4c;
}

.logo-line1 {
    display: block;
    font-weight: bold;
    /*letter-spacing: 0.031em;*/
}
.logo-line2 {
    display: block;
    /*letter-spacing: -0.031em;*/
    margin-top: -0.250em;
}
