html, body {
  height: 100%;
}
.page-wrap {
  min-height: 100%;
  /* equal to footer height */
  margin-bottom: -3rem;
}
.page-wrap:after {
  content: "";
  display: block;
}
.site-footer, .page-wrap:after {
  height: 2rem;
}

.container {
    display: block;
    margin: 0 auto;
    clear: both;
}

.site-footer {
    border-top: 1px solid #DDD;
    padding: 0.5rem 0.25rem 0.25rem 0.25rem;
    text-align: left;
}

.container-header {
    padding: 4rem 3rem 0 3rem;
}
.container-content,
.container-footer {
    padding: 0 3rem;
}
.site-footer-icons {
    font-size: 0;
    display: inline-block;
    float: right;
}
