{% block logo %}
<a href="{% url 'page_detail' %}" class="{{ ns }}-wrapper">
    <h1 class="{{ ns }}" style="font-size: {{ size|default:2 }}rem;"><span class="{{ ns }}-line1">Keryn</span> <span class="{{ ns }}-line2">Knight</span></h1>
</a>
{% endblock logo %}

{% block job_summary %}
<div class="{{ ns }}-wrapper">
    <div class="{{ ns }}">
        <h3 class="{{ ns }}-title">{{ job.title }}</h3>
        <h4 class="{{ ns }}-dates">{{ job.start|date:"m/Y" }}&mdash;{{ job.end|date:"m/Y"|default:'' }}</h4>
        <div class="{{ ns }}-shortdescription">
            <p>{{ job.get_short_description }}</p>
        </div>
    </div>
</div>
{% endblock job_summary %}
