{% load sniplates %}
{% block logo %}
<a href="{% url 'page_detail' %}" class="{{ ns }}-wrapper">
    <h1 class="{{ ns }}" style="font-size: {{ size|default:2 }}rem;"><span class="{{ ns }}-line1">Keryn</span> <span class="{{ ns }}-line2">Knight</span></h1>
</a>
{% endblock logo %}

{% block job_summary %}
<div class="{{ ns }}-wrapper">
    <div class="{{ ns }}">
        <h3 class="{{ ns }}-title"><a href="{{ job.get_absolute_url }}">{{ job.title }}</a></h3>
        <h4 class="{{ ns }}-dates"><a href="{{ job.get_absolute_url }}">{{ job.start|date:"m/Y" }}&mdash;{{ job.end|date:"m/Y"|default:'' }}</a></h4>
        <div class="{{ ns }}-shortdescription">
            <p>{{ job.get_short_description }}</p>
        </div>
    </div>
</div>
{% endblock job_summary %}


{% block navigation %}
<span class="{{ ns }}-wrapper">
    <ol class="{{ ns }}">
        {% for menuitem in items %}
        {% reuse 'navigation_menu_item' ns=ns|add:'-item' item=menuitem index=forloop.counter %}
        {% endfor %}
    </ol>
</span>
{% endblock navigation %}

{% block navigation_menu_item %}
<li class="{{ ns }}">
    <a href="{{ item.get_absolute_url }}" class="{{ ns }}-link">hello</a>
</li>
{% endblock navigation_menu_item %}

{% block icon %}
<span class="{{ ns }}-tooltip" {% if tooltip %}data-balloon="{{ tooltip }}" data-balloon-pos="{{ tooltip_position|default:'down' }}"{% endif %}><i class="fa fa-{{ name }}" aria-hidden="true"></i></span>
{% endblock icon %}

{% block link_icon %}
{% with ns=ns|default:'link-icon-wrapper' %}
<a href="{{ url }}" class="{{ ns }}">{% reuse 'icon' name=name %}</a>
{% endwith %}
{% endblock link_icon %}

{% block admin_index %}
{% if user.is_authenticated %}
    {% url 'admin:index' as ADMIN_INDEX %}
    {% reuse 'link_icon' url=ADMIN_INDEX name='sign-in' tooltip="Go to admin" %}
{% endif %}
{% endblock admin_index %}
