<!DOCTYPE html>
{% load static sniplates pipeline %}
{% load_widgets main="widgets/main.html" %}
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <title>{% block meta_title %}{% endblock %}</title>
    <meta name="description" content="{% block meta_description %}{% endblock %}">
    {% stylesheet 'application' %}
</head>
<body class="{% block body_class %}{% endblock %}{% if debug %} DEBUG-MODE{% endif %}">
<div class="container">
    {% widget "main:logo" ns="logo" %}
    {% block content %}
    hello!
    {% endblock %}


    {% widget "main:logo" ns="logo" size=0.75 %}
</div>
</body>
</html>
