<!DOCTYPE html>
{% load static sniplates pipeline path2css %}
{% load_widgets main="widgets/main.html" %}
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <title>{% block meta_title %}{% endblock %}</title>
    <meta name="description" content="{% block meta_description %}{% endblock %}">
    {% stylesheet 'application' %}
    <script type="text/javascript" src="//cdnjs.cloudflare.com/ajax/libs/turbolinks/5.0.0/turbolinks.min.js" async></script>
</head>
<body class="{% block body_class %}{% path2css request.path prefix='qzh-' %}{% endblock %}{% if debug and 'nodebug' not in request.GET %} DEBUG-MODE{% endif %}">
<div class="page-wrap">
<div class="container container-header">
    {% widget "main:logo" ns="logo" %}
    {% widget 'main:navigation' ns='mainnav' items=1234|make_list %}
</div>
<div class="container container-content">
    {% block content %}
    {% load jobs %}
    {% get_jobs as jobbers %}
    {% for j in jobbers %}
    {% widget "main:job_summary" ns="jobsummary" job=j %}
    {% endfor %}
    {% endblock %}
</div>
</div>
<div class="site-footer">
<div class="container container-footer">
    <div class="site-footer-icons">
    {% widget "main:link_icon" url="https://github.com/kezabelle/" name='github-alt' tooltip="Open source work" tooltip_position="up" %}
    {% widget "main:link_icon" url="https://twitter.com/kezabelle/" name='twitter' tooltip="Tweets" tooltip_position="up" %}
    {% widget "main:link_icon" url="http://www.last.fm/user/kezabelle" name='lastfm' tooltip="AudioScrobble history" tooltip_position="up" %}
    {% widget "main:link_icon" url="https://pinboard.in/u:kezabelle/" name='delicious' tooltip="Saved bookmarks on Pinboard" tooltip_position="up" %}
    {% widget "main:link_icon" url="https://www.reddit.com/user/kezabelle/" name='reddit-alien' tooltip="Reddit" tooltip_position="up" %}
    {% widget "main:admin_index" user=request.user tooltip_position="up" %}
    </div>
    {% widget "main:logo" ns="logo" size=0.75 %}
</div>
</div>
</body>
</html>
